rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Las imágenes de los productos y el logo del sitio son públicos para lectura
    match /product-images/{allPaths=**} {
      allow read: if true;
    }
    match /site-settings/{allPaths=**} {
      allow read: if true;
    }

    // Solo los usuarios autenticados pueden escribir en el almacenamiento.
    // Esto es suficiente para el panel de admin, ya que el admin debe estar logueado.
    allow write: if request.auth != null;
  }
}
